[2014-08-14 11:19] yvaucher opened #7 "Missing label *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:39] #7 closed, assigned to nobody

[2014-08-29 12:25] pedrobaeza opened #8 "travis.yml outdated for 8.0 branch"
Need to be updated for getting green.

[2014-10-24 15:08] eLBati commented on #8
Fixing with https://github.com/OCA/stock-logistics-reporting/pull/10

[2014-10-27 15:39] eLBati commented on #8
This can be closed

[2014-10-27 15:47] #8 closed, assigned to nobody

[2014-10-27 15:48] pedrobaeza commented on #8
Well, not exactly, because README still points to master branch, but I have changed it through direct commit to fast track it, and now it can be closed

[2015-10-14 00:54] pedrobaeza opened #19 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] stock_picking_partner_lang
- [ ] stock_picking_webkit
- [ ] stock_analysis

[2016-10-06 14:09] pedrobaeza opened #29 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] stock_analysis - By @omejia26 - #34
- [ ] stock_picking_partner_lang
- [ ] stock_picking_webkit
- [x] stock_valued_picking_report - By @chienandalu - #35

[2017-03-02 12:37] rafaelbn opened #33 "Print customer address in all pages of a stock.picking report (delivery slip)"
Hello!

Anyone have solve the issue of printing the "Customer Address" in all the pages of a Delivery slip?

If you send big deliveries with many lines and the report has 5 o 20 pages you can check in the footer the pages 1/2 .... 5/20 but the name of Customer is only in the **first page**.

We see limitations with wkhtmltopdf.

Any idea?

Thanks!
Regards

[2017-03-02 12:46] hbrunn commented on #33
I think you could do this with https://github.com/OCA/reporting-engine/tree/9.0/report_qweb_pdf_watermark - use the expression variant, and then write some code that generates a pdf with the customer address on the right place. This can probably be generated from a second report, this way you stay clean and modular.

[2017-03-02 13:31] smangukiya commented on #33
You should work on default header layout in report. And use that custom header layout(supporting customer address part) to delivery report.

Thanks

[2017-03-02 14:03] OSevangelist commented on #33
Hi together,
one of my developers suggested custom headers / footers to solve the issue
see

https://www.odoo.com/de_DE/forum/hilfe-1/question/how-to-have-custom-header-in-qweb-report-68544
https://odootricks.wordpress.com/2014/11/05/how-to-change-the-default-headerfooter-in-odoo-8-pdf-reports-salequoteinvoice/

maybe that is an alternative for you

[2017-03-02 14:06] hbrunn commented on #33
I suggested the background because headers tend to eat up a lot of space, and cannot overlap with the main content area. but if you don't mind the space, the header is indeed the way to go

[2017-03-02 14:14] OSevangelist commented on #33
@hbrunn i don't like the layered approach that much because of programming clarity but that's more feelings than real facts

My developer also suggested:

`<t t-foreach="docs" t-as="o">
    <div class="header">
        <p>Kunde: <span t-field="o.partner_id.name"/></p>
    </div>
    <div class="page">
        ....
    </div>
    <div class="footer">
        ....
    </div>
</t>
`
In order to solve

[2017-03-17 23:02] rafaelbn commented on #33
Hi, thanks! @sergio-teruel found how yo solve this. Maybe he can explain it here. @Tecnativa

[2017-03-24 17:03] pedrobaeza commented on #33
The trick finally has been including the content to repeat in the header of a multi-page table. Thanks all for answering.

[2017-03-24 17:03] #33 closed, assigned to nobody

[2017-10-03 15:00] pedrobaeza opened #37 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] stock_picking_partner_lang
- [ ] stock_picking_webkit
- [x] stock_picking_report_custom_description - By @sergio-teruel - #45
- [x] stock_valued_picking_report > stock_picking_report_valued - By @luismontalba - #44

[2018-03-08 05:29] JordiBForgeFlow opened #43 "This repo cannot be published in Odoo App Store (branch 10.0)"
See below the error listed in odoo's page for registered repositories:

![image](https://user-images.githubusercontent.com/7683926/37134662-cc29ce7c-2299-11e8-940c-92f6a79cd3e7.png)

[2018-03-08 05:29] JordiBForgeFlow commented on #43
cc @OCA/board

[2018-03-08 08:50] pedrobaeza commented on #43
Uhm, this is the problem with modules started in other branch. This time is one of mine, but I don't know the procedure to grant permission to move it.

[2018-09-27 00:39] OCA-git-bot opened #46 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] stock_account_quantity_history_location - By @hveficent - #68
- [x] stock_account_valuation_report - By @hveficent - #67
- [ ] stock_move_value_report - By @CarlosRoca13 - #117
- [x] stock_picking_comment_template - By @emagdalenaC2i - #61
- [x] stock_picking_report_custom_description - By @

[2018-11-05 20:44] max3903 opened #47 "Print barcode of the next picking"
# Context

* 3-steps delivery process
* the pickers don't use Odoo and don't have mobile barcode scanners
* the packers use Odoo and have USB barcode scanners

# Process

* The picker manager prints the picking wave/picking reports and hand it over to the pickers.
* The pickers run across the warehouse with their cart and pick items
* The picker leaves his cart with the picked items and the sheet

[2019-01-09 11:57] Change2improve opened #51 "Odoo server error installing stock_picking_report_valued"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odooc2i-dev/odooc2i-dev-server/odoo/models.py", line 1036, in _validate_fields
    check(self)
  File "/odooc2i-dev/odooc2i-dev-server/odoo/addons/base/ir/ir_ui_view.py", line 330, in _check_xml
    view_def = view.read_combined(['arch'])
  File "/odooc2i-dev/odooc2i-dev-server/odoo/addons/base/ir/ir_ui_view.py", line 720, in re

[2019-01-09 12:48] pedrobaeza commented on #51
This seems that other module/customization modifies the same report. Please try on a fresh installation.

[2019-01-10 00:00] Change2improve commented on #51
ok, I have just tested with a fresh installation and it works fine

[2019-02-27 07:03] Change2improve commented on #51
Hi @pedrobaeza

I have just try to install this module in a new database and the issue happend again. Last time I try in a new installation and now with a new database (odoo 11.0 is updated with the last changes).

[2019-02-27 09:13] pedrobaeza commented on #51
Are you combining this with other modules? Please install only this module in a fresh database and see if the problem is reproducible.

[2019-02-27 19:26] Change2improve commented on #51
I did. I just create a fresh database and install only this module

[2019-02-28 11:09] Change2improve commented on #51
@pedrobaeza Do you have any idea about this error?

[2019-02-28 12:00] pedrobaeza commented on #51
I insist this is something in your side, as the module install correctly in a standard v11, or you are doing other sequence. See my full log of a fresh installation:
<details>

[code]

</details>

[2019-04-26 18:19] rousseldenis commented on #51
@Change2improve Any news on this ?

[2019-04-27 11:19] rousseldenis commented on #47
@max3903 Could you close this ? Do you plan to port it to OCA?

[2019-04-28 17:26] Change2improve commented on #51
No, it is fixed but I don't know why
I will close this issue

[2019-04-28 17:26] #51 closed, assigned to nobody

[2019-07-04 02:43] kittiu opened #64 "Stock Card / Bin Card - Report in PDF and Excel"
Hi, we are looking into developing the stock_card_report in pdf and excel, which should be similar to this one,

https://apps.odoo.com/apps/modules/12.0/hyd_stock_card/

Search criteria:
- Start date
- End date
- Products
- Warehouse / Location

The result should show product one by one, with result -> Initial Balance, In, Out, End Balance

May I check whether some work has been developed in OCA,

[2019-07-09 10:58] kittiu commented on #64
@rousseldenis should I do this, WDYT?

[2019-07-09 12:13] rousseldenis commented on #64
@kittiu I've no requirement for that at the moment, but if you have, go on!

[2019-07-09 12:20] kittiu commented on #64
@rousseldenis thanks

[2019-07-22 07:30] kittiu commented on #64
@rousseldenis I am a quite confused about stock.move, stock.move.line and stock.quant
What are the difference?
With the given requirement, which table in your opinion best represent the detailed moves.

[2019-07-22 07:34] rousseldenis commented on #64
@kittiu The model to represent real done movements is stock.move.

The stock.move.line is the detailed operations done by user (if multiple sub-locations movements for a same product).

The stock.quant represent the current stock quantity for a given product, lot, owner and incoming date.

[2019-07-22 08:09] kittiu commented on #64
Thank you @rousseldenis I am much clearer now. We will start doing this report.
So, I would think stock.move is suitable for this report. @ps-tubtim

[2019-08-18 02:43] kittiu opened #71 "Stock Valuation Report in PDF / Excel"
Hello,
We would like to imitate the current stock valuation report in Odoo to also print PDF (qweb) and Excel report (report_xlsx).
Just a normal check here whether it will be ok here, and not already been developed.
Thank you.

Note: we plan to make it new addon, i.e., stock_inventory_valuation_report

![image](https://user-images.githubusercontent.com/1973598/63219458-a6dbea80-c19c-11e9-908b-d71

[2019-08-18 10:47] rafaelbn commented on #71
This would be great! Thanks 👍

[2019-08-18 11:08] pedrobaeza commented on #71
Yes, there's still nothing about this. Very welcome!

[2019-08-18 14:44] kittiu commented on #71
Thank you both. @ps-tubtim, let's do it!

[2019-08-20 03:03] ps-tubtim commented on #64
@All Please review at https://github.com/OCA/stock-logistics-reporting/pull/69 . Thank you.

[2019-08-20 14:52] rafaelbn commented on #71
PSC can close this issue has PR is opened https://github.com/OCA/stock-logistics-reporting/pull/72

[2019-08-20 14:54] #71 closed, assigned to nobody

[2019-09-29 21:48] OCA-git-bot opened #75 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] stock_account_quantity_history_location - By @victoralmau - #146
- [ ] stock_account_valuation_report - By @AaronHForgeFlow - #113
- [x] stock_card_report - By @ps-tubtim - #97
- [ ] stock_inventory_valuation_report
- [ ] stock_picking_comment_template - By @feketemihai - #109
- [ ] stock_pi

[2019-11-18 18:56] microsound1 opened #81 "[12.0] stock_inventory_valuation_report - Attribute error"
When I do an inventory valuation and click on "Export PDF" or "Export XLS" it gives : AttributeError: 'product.product' object has no attribute 'cost_currency_id'
Anyone experienced with this or is there a solution?

If you need a full error, please let me know i can provide it, thank you.

[2019-11-25 08:00] bodedra commented on #81
@microsound1 : I have tried at runbot http://3397314-12-0-a7e91a.runbot2-2.odoo-community.org/web?debug=1#action=331&active_id=6&menu_id=82 but unable to reproduce it.

It seems you have old revision of Odoo core modules.

Here is reference of `cost_currency_id` field declaration in Odoo `product` core module https://github.com/odoo/odoo/blob/12.0/addons/product/models/product_template.py#L60

[2019-11-25 21:13] rousseldenis commented on #81
@microsound1 Can you check your version as @bodedra said ?

[2019-11-30 06:57] bodedra commented on #81
@rousseldenis We may close this as no answer from @microsound1

[2019-11-30 09:06] rousseldenis commented on #81
@bodedra Let a little bit more time. People can be on holidays or... :smiley:

[2019-12-05 12:27] pedrobaeza commented on #46
Everything migrated, so closing

[2019-12-05 12:27] #46 closed, assigned to nobody

[2019-12-14 09:13] microsound1 commented on #81
Sorry for the delay and thank you for the hint @bodedra
I updgraded product in the addon folder to the latest version and it works perfectly.

[2019-12-14 12:37] #81 closed, assigned to nobody

[2020-01-06 14:30] CasVissers-360ERP opened #87 "[12.0] stock_account_valuation_report incorrect quantity"
The quantities column added by module stock_account_valuation_report takes the sum of quantity in account move lines, this results in an incorrect quantity when products are used in manufacturing orders since all quantities are positive.

Wanted to make a demo video but runbot doesn't seem to work?

[2020-01-06 15:44] #87 closed, assigned to nobody

[2020-01-13 12:26] rafaelbn opened #88 "[12.0][BUG][stock_inventory_valuation_report] Incorrect valuation with multi-currency"
Hi @ps-tubtim @kittiu ,

To reproduce:

- Your company works in Dollars
- You make a purchase in CNY
- Report should be in Dollars, this module show report mixing Dollars and CNY

Do you think you could fix it?

Thanks
Regards

[2020-01-15 03:00] ps-tubtim commented on #88
@rafaelbn I don't found this bug in runbot. Could you show your bug to me?

![2020-01-15_09-46](https://user-images.githubusercontent.com/51266019/72400713-b4fa5b00-377c-11ea-88cd-8987192b916f.png)

![2020-01-15_09-47](https://user-images.githubusercontent.com/51266019/72400720-b9267880-377c-11ea-8074-9c649e92eccb.png)

![2020-01-15_09-48](https://user-images.githubusercontent.com/51266019/7240073

[2020-01-16 13:50] rafaelbn commented on #88
Hi @ps-tubtim ,

We always use "Costing Method | Average Cost (AVCO)"

- http://3403249-12-0-02aba4.runbot3.odoo-community.org/web?debug=1#id=11&action=345&model=purchase.order&view_type=form&menu_id=204

- https://www.tecnativa.com/web#model=project.task&view_type=form&id=21341&active_id=21341&menu_id=

Take a look at this video I've recorded in runbot

https://drive.google.com/file/d/1tj_yLChOPR

[2020-02-20 18:38] sergio-teruel commented on #75
Working on stock_picking_report_valued https://github.com/OCA/stock-logistics-reporting/pull/91

[2020-02-20 19:52] emagdalenaC2i opened #92 "Wiki can be edited by any user"
Actually, I just edited it unintentionally.
I expected to receive a warning preventing me from saving the changes, but it was not.

But, I was trying to edit the wiki because I think it can be a good system to record the evolution of module migration. Replacing the migration issues like #75

So, any non-technical user can edit / follow the evolution of the migration.

See https://github.com/OCA/st

[2020-02-20 20:17] rousseldenis commented on #92
Ok, we maybe need to restrict wiki editing to team members.

@OCA/board shouldn't the setting that restrict wiki editing checked by default in all repositories and then let team members decide what to do?

[2020-02-20 21:48] dreispt commented on #92
My opinion is that it should be kept open, and promote wiki edits to grow an OCA knowledge base.
Wiki is easily accessible to non-technical people, and using Github's one has the advange of keeping code and docs in the same place.

If we have content that rally needs approval before it is changed, we should use repository files for that, so that it need to go through a pull request.

[2020-02-21 04:26] emagdalenaC2i commented on #92
I am doing some tests and I trully like it. Not only to add information about the repository and the modules but also to move the migration issues to the wiki

As you can see I can revert a commit easily
![image](https://user-images.githubusercontent.com/24428859/75004206-ac2b3200-546a-11ea-92f4-0eddd6c49233.png)

[2020-02-21 05:08] emagdalenaC2i commented on #92
This is a test to move the Migration issues to the wiki https://github.com/OCA/product-attribute/wiki

- https://github.com/OCA/product-attribute/wiki/Migration-to-version-12.0

- https://github.com/OCA/product-attribute/wiki/Migration-to-version-13.0

It would also allow to recover the tables of addons:

- https://github.com/OCA/product-attribute/wiki/Migration-to-version-10.0

[2020-02-21 07:13] mymage commented on #92
I think that keep open the possibility do edit the wiki is a bit hazardous: using team policy isn't only a way to keep out people that eventully haven't good intention (on wiki there isn't a version control to roll back, right?) but it is a step to direct all people contributin to use a common format.

[2020-02-21 07:19] emagdalenaC2i commented on #92
Yes, there is. You can also clone the wiki as an usual project
![image](https://user-images.githubusercontent.com/24428859/75012694-d4268f80-5482-11ea-9821-f2a6e7099e47.png)

[2020-02-21 07:39] pedrobaeza commented on #92
That's just the opposite of what I want, or bad things will happen:

https://github.com/OCA/oca-github-bot/pull/97#issuecomment-572465024

[2020-02-21 08:38] emagdalenaC2i commented on #92
So, should the wikis be restricted to team members? or should be open but focused on documentation?

[2020-02-21 08:42] pedrobaeza commented on #92
I let that decision to be made, but definitively not for migration issues.

[2020-02-21 09:01] emagdalenaC2i commented on #92
ok, I agree.  If a bot can do a task for me, I am pretty sure it will do that better.
Also the bot will not update the migration issues only every 3 or 4 months

[2020-02-21 17:24] dreispt commented on #92
This is probably a bad place to discuss this, and is probably a dumb idea, but did you consider generating one issue per module to migrate with a "13.0-MIG" milestone, and then track the milestone?

[2020-02-24 07:38] simahawk commented on #92
@dreispt I like the idea. It makes easier to handle it w/out complex tools to deal w/ it. PRs can the reference the issue and close it as they are merged.

[2020-02-24 07:41] pedrobaeza commented on #92
That's going to generate a lot of noise, and most modules doesn't need such discussion. They just need to be migrated.

[2020-02-24 07:44] simahawk commented on #92
Reported here https://github.com/OCA/oca-github-bot/issues/101

@pedrobaeza I partially agree w/ you. There's a very good part: you leverage GH features and you don't have to maintain a complex script to deal w/ it.

[2020-02-24 07:45] pedrobaeza commented on #92
It's not a complex script to deal with it... Do you prefer to deal with a repo that will have 100 opened issues for modules that may not be migrated and that complicates any search? Please don't open new battlefields.

[2020-03-02 21:26] Tempronics1 opened #94 "Inventory Valuation by Location"
module: stock_quantity_history_location
version: 12.0

**Steps to reproduce**
- ...Under Inventory Valuation, I'm not seeing the "Location" field. It only appears under Inventory  Report. I was under the impression that it should appear under both. Is there something I'm missing. Thanks.

**Current behavior**

**Expected behavior**

[2020-03-03 07:38] HviorForgeFlow commented on #94
It is not possible to have an accurate Inventory Valuation by location. stock_account_quantity_history_location module is auto-installable when you have Stock Accounting installed and warns you that filter by location is not calculated properly.
![image](https://user-images.githubusercontent.com/32061121/75752874-d8c43100-5d29-11ea-9efd-c8df51d1fb13.png)

[2020-03-03 11:39] #94 closed, assigned to nobody

[2020-03-09 20:38] eLBati commented on #46
stock_analysis: https://github.com/OCA/stock-logistics-reporting/pull/90

[2020-03-13 09:54] dreispt commented on #92
An Issue is a pending task. If we have 100 issues, it's because there are 100 tasks waiting to be picked up. These are usually good starting points for new contributors.

Honestly, smaller repos will be far from that number.
And on big repos today we already deal with hundreds of open items, and It doesn't seem to be a big deal.

And the upside is that the list of pending + done migration tasks is

[2020-03-13 09:58] pedrobaeza commented on #92
You will tell me when they get stacked version per version. My vote is negative, the same as in the past with other actions you have taken, but if you want to continue, go ahead, and in the same manner, you will see that they are not effective.

[2020-03-13 10:09] dreispt commented on #92
How do you avoid duplicated housekeeping then?
How do you handle later merged modules, that should also be added to the migration list?

[2020-03-13 10:13] dreispt commented on #92
It seems that you feel that there will be a accumulation of open migration related issues, and these will be a problem.
I'm sure we're all looking forward to a better way.

What kind of problems do you think these could cause to repo maintainers?
How do you avoid duplicated housekeeping then?
How do you handle later merged modules, that should also be added to the migration list?

[2020-03-13 10:34] emagdalenaC2i commented on #92
I suposse this is not the only Open source project in which they have this type of issues. How is it managed in other similar projects?

[2020-03-13 13:28] pedrobaeza commented on #92
@dreispt the ocabot migration commands will allow a better management without that flooding.

@emagdalenaC2i our flow is different from other open source projects where they don't have such parts (modules) to be handled apart.

[2020-03-13 14:46] dreispt commented on #92
OK, let's explore that option.
Is there an RFC of PR to have a look at?

[2020-03-13 15:18] pedrobaeza commented on #92
https://github.com/OCA/oca-github-bot/pull/97

[2020-03-15 07:45] microsound1 opened #96 "[12.0][BUG][stock_inventory_valuation_report]"
Hi all,

I am using FIFO with automatic valuation, when I do a "Reporting" --> "Inventory valuation" choosing a specific date and click on "Export XLSX" some product missing from the report. As I see those products missing which currently at Today's date has quantity 0, however at the chosen specific date it had available quantity either 1 or more.

If using the standard button "Retreive the inven

[2020-03-24 12:22] BT-panken opened #98 "[12.0] Bug when changing filter or grouping"
Hello,

Selecting a groupby or a filter in the report lead to following error:

[code]

**Test environnement**

Odoo : 32e1effa32e
Enteprise : 5eb519ddbd
stock-logistics-reporting : bebf471
Demo data

How to reproduce:
1.1) Inventory/Reporting/Inventory Valuation --> "View Report" in the popup
1.2) than Group by --> Warehouse

Thanks in advance for your support.

[2020-03-24 14:58] pedrobaeza commented on #98
Which module? Detailed steps to reproduce the problem?

[2020-03-24 15:01] BT-panken commented on #98
Information added.

[2020-03-27 08:09] rousseldenis commented on #98
Reproduced on runbot. But I think filters are not to be used in that case. @ps-tubtim Could you confirm ?

[2020-03-29 13:36] microsound1 opened #100 "[12.0] stock_inventory_valuation_report conflicts with stock_account_valuation_report"
After installing stock_account_valuation_report and get an xlsx report, it shows 0 value for inventory with the header.
It is doesn't matter choosing current date or specifying an earlier one.

After uninstallation of stock_account_valuation_report inventory valuation will include items in excel report.

[2020-04-03 06:51] BT-jstein commented on #98
Hallo @pedrobaeza @ps-tubtim @rousseldenis

are there any news?

[2020-04-05 18:09] ps-tubtim commented on #98
@rousseldenis I agree with you. I will fix it.
@All Could anyone suggest me a solution for this problem?

[2020-04-06 12:10] BT-panken commented on #98
Only dirty option I see would be custom JS loaded with the view which would hide the elements.

[2020-04-08 12:38] BT-aestebanez commented on #98
@ps-tubtim
In my opinion there are three options:
1. To hide the div.o_control_panel: This would prevent people of trying to filter, group, etc.
2. To adapt the whole layout to have something similar to what Odoo implements for Accounting -> Reports
3. To create a report model like Sales -> Reporting.

Currently, Odoo thinks you are using a common view but you are actually inheriting from web.Widg

[2020-04-17 11:51] abdounasser202 opened #102 "[11.0] stock_inventory_valuation_report: ParseError when installing"
When i install module **stock_inventory_valuation_report**, i have this error:

ParseError: "External ID not found in the system: stock_account.view_stock_quantity_history" while parsing .../stock_inventory_valuation_report/wizard/stock_quantity_history_view.xml:3, near
[code]

[2020-04-17 11:59] bodedra commented on #102
Yes. It's valid. Let me make fix for it.

[2020-04-17 12:57] abdounasser202 opened #104 "[11.0] stock_inventory_valuation_report: AttributeError: 'product.product' object has no attribute 'qty_at_date'"
When printing report (PDF or XLS), we have this error

[code]

I think it's **qty_available** instead of **qty_at_date**

[2020-04-17 13:05] abdounasser202 opened #105 "[11.0] stock_inventory_valuation_report: AttributeError:AttributeError: 'product.product' object has no attribute 'cost_currency_id'"
When viewing report (button view report), we have this error

[code]

I think it's **'cost_currency_id': product.currency_id** instead of  **'cost_currency_id': product.cost_currency_id**

[2020-04-17 14:12] abdounasser202 commented on #104
Fixed at https://github.com/OCA/stock-logistics-reporting/pull/106

[2020-04-17 14:12] abdounasser202 commented on #105
Fixed at https://github.com/OCA/stock-logistics-reporting/pull/106

[2020-04-20 08:36] ps-tubtim commented on #102
@abdounasser202 Do you install stock_account yet?

[2020-04-23 13:00] abdounasser202 commented on #102
Yes

[2020-07-06 07:47] feketemihai commented on #75
stock_picking_comment_template #109

[2020-07-30 09:11] AaronHForgeFlow commented on #75
- [ ]  stock_inventory_valuation_report - By @AaronHForgeFlow  - https://github.com/OCA/stock-logistics-reporting/pull/113

[2020-09-16 17:38] emagdalenaC2i opened #115 "[12.0] [FIX] Tax Rounding in stock_picking_report_valued"
To replicate this issue:

1 - Set the Round globally option (Invoicing settings) and allow discounts (sale settings)

2- Create the next quotation
![image](https://user-images.githubusercontent.com/24428859/93372216-de134400-f853-11ea-9ce5-4b160baccb04.png)

3 - Confirm the quotation and check the differences in the quotation, invoice and the Delivery Slip report
![image](https://user-images.githu

[2020-09-16 17:41] pedrobaeza commented on #115
Odoo version? What is the tax total in invoices?

[2020-09-16 17:44] emagdalenaC2i commented on #115
I think this affect all versions but I check it with 12.0
Invoices taxes and total are the same as in the quotation

[2020-09-16 17:48] emagdalenaC2i commented on #115
This is the invoice
![image](https://user-images.githubusercontent.com/24428859/93373299-73630800-f855-11ea-859a-5803ea552700.png)
You can check it in runbot https://runbot.odoo-community.org/runbot/151/12.0

[2020-09-16 17:56] emagdalenaC2i commented on #115
You should check https://github.com/OCA/account-invoicing/pull/704

[2020-09-18 08:50] emagdalenaC2i commented on #115
Here you can see other example:
To replicate this issue:

1 - Set the **Round per line** option (Invoicing settings) and allow discounts (sale settings)

2- Create the next quotation
![image](https://user-images.githubusercontent.com/24428859/93576861-a4e5eb80-f99b-11ea-97fe-5ed696898d3d.png)

3 - Confirm the quotation and check the differences in the quotation, invoice and the Delivery Slip repor

[2020-09-25 08:55] erik-bzcl opened #116 "Starting new translations on weblate"
Hello,

could you please kindly advise how to start new translations for OCA modules?

I have registered on weblate and sent an email to transbot as per instructions, also tried contacting directly through OCA website to get permission, but the button for starting a new translation on weblate remains disabled.

Should I create a PR with the added .po translation file? Is weblate used only for exis

[2020-09-25 09:06] pedrobaeza commented on #116
You must wait until an answer is given to you saying you are in. cc @sbidoul

[2020-09-25 09:06] #116 closed, assigned to nobody

[2020-09-25 09:20] sbidoul commented on #116
Hi @erik-bzcl , have you sent an email to transbot@odoo-community.org requested access to specific languages? I don't see any open request there.

[2020-09-25 13:57] erik-bzcl commented on #116
@sbidoul yes I have on 13.09 but I have sent one again. Hope it doesn't go to spam.

Thanks!

[2020-10-04 10:35] OCA-git-bot opened #119 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] stock_account_valuation_report - By @AaronHForgeFlow - #170
- [x] stock_average_daily_sale - By @twalter-c2c - #342
- [ ] stock_card_report
- [ ] stock_inventory_valuation_report - By @solo4games - #292
- [ ] stock_picking_comment_template - By @fredzamoabg - #119
- [x] stock_picking_report_

[2020-11-27 12:51] DEVHSCO commented on #98
Some help to solve this problem?

[2021-01-13 20:47] bodedra commented on #105
We can close this issue. Ref: #106

[2021-01-13 20:48] bodedra commented on #104
We can close this issue. Ref: #106

[2021-01-13 21:06] #104 closed, assigned to nobody

[2021-01-13 21:06] #105 closed, assigned to nobody

[2021-02-27 09:39] cscocca opened #136 "Valuation by Product Category"
Hello, is it possible to group the inventory valuation by Product Category instead of listing all product?

On Odoo12 CE

Thanks

[2021-03-01 09:14] rousseldenis commented on #136
@pedrobaeza

[2021-05-03 14:42] victoralmau commented on #75
`stock_account_quantity_history_location` https://github.com/OCA/stock-logistics-reporting/pull/146

[2021-05-04 12:53] SimoRubi commented on #96
@microsound1 thanks for reporting this, could you please check if https://github.com/OCA/stock-logistics-reporting/pull/140 fixes the issue?

[2021-05-06 15:48] AaronHForgeFlow commented on #75
stock_inventory_valuation_report - By @AaronHForgeFlow - #149

[2021-05-17 18:21] cscocca opened #152 "Stock_account_valuation_report Slow with too many Products and Moves"
- [ ] Odoo 12.0 C.E.
Generating report with too many Products and Moves take long long time.

About 40.000 Products

Is it possible to solve?

[2021-05-30 12:21] microsound1 commented on #96
@SimoRubi it is now displays product quantity correctly, however with 0 value. I am not sure it has to do something on my side, because everytime I need a past inventory report, I need to uninstall "stock_account_valuation_report" otherwise I get an empty report in excel with the header only.

[2021-05-31 09:03] SimoRubi commented on #96
@microsound1 the reports created by the module `stock_inventory_valuation_report` only show products that were available at the selected date, that comes from: https://github.com/OCA/stock-logistics-reporting/blob/3e97398e14be52501fd93120a722476d54e93fe1/stock_inventory_valuation_report/reports/stock_inventory_valuation_report.py#L75-L76
Maybe there are no products available at the date you select

[2021-05-31 10:05] fredzamoabg commented on #119
working on **stock_picking_comment_template** https://github.com/OCA/stock-logistics-reporting/pull/153

[2021-06-24 08:29] atchuthan commented on #119
created PR for
stock_quantity_history_location: https://github.com/OCA/stock-logistics-reporting/pull/156
stock_account_quantity_history_location: https://github.com/OCA/stock-logistics-reporting/pull/157
@stephankeller

[2021-09-20 13:21] silverf0x0 commented on #119
Hi, what happened to stock_inventory_valuation_report?

[2021-09-23 10:46] hailangvn commented on #119
* `stock_picking_group_by_partner_by_carrier_sale_line_position`: WIP

[2021-09-25 12:07] hailangvn commented on #119
* `delivery_line_sale_line_position`: https://github.com/OCA/stock-logistics-reporting/pull/164
* `stock_picking_group_by_partner_by_carrier_sale_line_position`: https://github.com/OCA/stock-logistics-reporting/pull/165

[2021-10-17 10:22] OCA-git-bot opened #167 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] delivery_line_sale_line_position - By @ajaniszewska-dev - #194
- [x] stock_account_quantity_history_location - By @ernestotejeda - #268
- [x] stock_account_valuation_report - By @AaronHForgeFlow - #171
- [x] stock_card_report - By @emadshaaban92 - #186
- [x] stock_move_value_report - By @Lud

[2021-11-28 12:19] #19 closed, assigned to nobody

[2021-11-28 12:19] #29 closed, assigned to nobody

[2021-11-28 12:19] #37 closed, assigned to nobody

[2021-12-05 12:20] #43 closed, assigned to nobody

[2021-12-05 12:20] #47 closed, assigned to max3903

[2021-12-05 12:20] #64 closed, assigned to nobody

[2021-12-12 12:20] #75 closed, assigned to nobody

[2021-12-19 12:21] #88 closed, assigned to nobody

[2022-01-03 09:11] chinmayivyas opened #176 "[13.0] stock wrong when select child location in stock_quantity_history_location"
## Module
stock_quantity_history_location

## Describe the bug
The Inventory at date report is working for only parent locations, For the most child locations the report showing wrong qty for past date.
## To Reproduce
**Affected versions**: 13.0

Steps to reproduce the behavior:
1. Add stock in WH/stock/Shelf 1 for any stockable product [Ex Date:01/01/2022 ]
2. create a Delivery order on [Ex Date

[2022-01-09 12:21] #92 closed, assigned to nobody

[2022-01-09 12:21] #96 closed, assigned to nobody

[2022-01-09 12:21] #98 closed

[2022-01-16 12:21] #100 closed, assigned to nobody

[2022-01-16 12:21] #102 closed, assigned to nobody

[2022-01-23 12:19] #115 closed, assigned to carlosdauden

[2022-01-30 12:18] #136 closed, assigned to nobody

[2022-02-20 12:20] #152 closed, assigned to nobody

[2022-02-23 11:40] flachica commented on #167
I will migrate `stock_picking_report_valued`

[2022-03-10 11:05] angelmoya opened #184 "Stock Picking Report Valued and MRP Kit."
If you have installed MRP and use a product with build of materials as kit, when you sale it, the pickig report valued get wrong data, get the product of components quantityt by proudct price.

![S00023 - Odoo](https://user-images.githubusercontent.com/6750341/157649044-ce1e414d-72b4-4a17-83ea-a8937a4db096.png)

![Delivery Slip - Deco Addict - WH_OUT_00013 (2) pdf](https://user-images.githubuserco

[2022-03-10 11:06] pedrobaeza commented on #184
https://github.com/OCA/stock-logistics-reporting/tree/13.0/stock_picking_report_valued_sale_mrp

[2022-03-10 11:06] #184 closed, assigned to nobody

[2022-03-10 15:38] angelmoya commented on #184
Thanks @pedrobaeza  and sorry for the noise

[2022-03-20 18:07] emadshaaban92 commented on #167
stock_card_report #186

[2022-03-23 07:49] flachica commented on #167
`stock_picking_report_valued` #181

[2022-03-31 10:28] rousseldenis opened #188 "Stock reporting by location at date"
I looked for a module implementing stock reporting grouped by location at date.

I think this one fits nearly my needs : https://github.com/OCA/stock-logistics-reporting/tree/12.0/stock_report_quantity_by_location

@AaronHForgeFlow Do you think it could be a good feature to add date in the product context in order to obtain the good result ?

I think I will do it and migrate yours to 14.

[2022-03-31 13:30] AaronHForgeFlow commented on #188
Hi @rousseldenis , yes I think this would be a nice improvement. There is an open PR to version 14.0: https://github.com/OCA/stock-logistics-reporting/pull/173

Perhaps you can review that one and then we can merge this and you can propose an improvement.

[2022-03-31 13:35] rousseldenis commented on #188
I've tested it and it's not possible as the quantity query is done through read_group.

[2022-03-31 14:19] AaronHForgeFlow commented on #188
Yes,  I think that was done for performance issues. So probably another different report will be needed that covers your use case.

[2022-04-13 15:00] sergioeix opened #190 "[13] stock_picking_report_valued_sale_mrp ERROR on installing"
## Module
stock_picking_report_valued_sale_mrp

## Describe the bug
When you try to install the module an error is displayed

odoo.tools.convert.ParseError: "Element 'xpath expr="//tr[@t-foreach='o.move_line_ids']" cannot be located in parent view

Error context:
View `valued_report_picking`
[view_id: 1206, xml_id: n/a, model: n/a, parent_id: 1204]" while parsing /mnt/data/odoo-addons-dir/stock_pi

[2022-04-13 15:01] pedrobaeza commented on #190
You have somehow your report changed in the DB you are installing the module, but it's not a problem of it.

[2022-04-13 15:04] sergioeix commented on #190
@pedrobaeza I think its not only on my db because you can do this on runbot, just uninstall stock_picking_report_valued_sale_mrp and try to install it again

[2022-04-13 15:05] pedrobaeza commented on #190
OK, let me check.

[2022-05-17 13:14] ajaniszewska-dev commented on #167
delivery_line_sale_line_position https://github.com/OCA/stock-logistics-reporting/pull/194

[2022-06-22 18:35] devishree-git opened #200 "error during installation of stock_account_valuation_report, Version 15"
getting testcase failing error.

## Module
stock_account_valuation_report

## Describe the bug
DB is fresh, No other apps installed,
getting testcase failing error.

## To Reproduce
![Screenshot from 2022-06-22 21-31-06](https://user-images.githubusercontent.com/29563195/175111417-47069cca-e122-42f5-97f2-26ca5352c01b.png)

**15.0**:

Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**

[2022-07-15 04:47] rquevedo commented on #75
Hi folks,
Why "stock_inventory_turnover_report" was not migrated to 13.0 version, or even proposed to migration?

[2022-08-01 11:11] paulius-sladkevicius commented on #176
Hello, I could confirm this issue too on the v14. In case you're using child locations to transfer product quantities then a report by location and date in past is not working correctly as Odoo is doing [calculations based](https://github.com/odoo/odoo/blob/77287edb77fb53836af2aa70c7b14c24e23d6002/addons/stock/models/product.py#L165-L166) on the `stock.move` but not a `stock.move.line`.

@HviorFor

[2022-09-02 14:56] LudLaf commented on #167
I'm migrating `stock_move_value_report` to version 15.0 #220

[2022-09-12 09:11] bi-landoo opened #225 "[15] stock_picking_report_valued: wrong data on stock picking report"
@chienandalu @carlosdauden @pedrobaeza @ao-landoo @flachica

I have been testing stock_picking_report_valued and data shown on stock picking report is not correct.

I attach a few pictures to describe the problem detected on runboat.

1. There is a missing label for last field on stock picking
2. Order of fields is wrong.

![Pedido-S00027-1-pdf](https://user-images.githubusercontent.com/105443633/

[2022-09-12 09:14] pedrobaeza commented on #225
We haven't migrated this module to 15.0. You should query @flachica as well.

[2022-09-13 10:05] flachica commented on #225
I'm trying to fix this in #226

On my instance this error does not appear. I guess it's because I don't have the same modules installed.

How could I test the module in runboat?

[2022-09-14 07:00] flagreenice commented on #225
@bi-landoo Fix was merged yesterday

[2022-09-14 15:22] #225 closed, assigned to nobody

[2022-10-03 17:03] OCA-git-bot opened #232 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] delivery_line_sale_line_position - By @ivantodorovich - #261
- [x] stock_account_valuation_report - By @RicardCForgeFlow - #291
- [x] stock_average_daily_sale - By @rousseldenis - #257
- [ ] stock_card_report
- [x] stock_move_value_report - By @vvrossem - #325
- [x] stock_picking_report_cust

[2022-10-06 13:06] bi-landoo opened #234 "[15.0] stock_picking_report_valued: Fields displayed on picking report with wrong label"
When activating the followin setting on Inventory app:

- Display Lots & Serial Numbers on Delivery Slips (group_lot_on_delivery_slip)

Picking report's table's values are not placed correctly.

I'm adding an image of a report without this setting, and after another with the setting activated.
![image](https://user-images.githubusercontent.com/105443633/194319779-598311c1-ff71-4622-b6fe-6e21a2a31d

[2022-10-06 20:46] sergio-teruel commented on #234
@bi-landoo fixed!! please review

[2022-10-07 07:36] bi-landoo commented on #234
@sergio-teruel order of displayed fields is correct! Thanks

But be careful, you forgot to delete "ppp" (please see picture below)

![image](https://user-images.githubusercontent.com/105443633/194498374-6632e887-4df5-4fa0-ad3e-19a79b9ab23c.png)

[2022-10-07 10:18] sergio-teruel commented on #234
Fixed!!! thanks

[2022-10-07 12:36] #234 closed, assigned to nobody

[2022-10-17 13:47] bi-landoo opened #238 "[15.0] stock_picking_report_valued: Bug with fields printed on delivery slip report when type=incoming"
When I install this module and I print delivery slip with picking_type_code=[incoming], fields are not well placed.
I am going to show you with 4 pictures, 4 different scenarios.

![image](https://user-images.githubusercontent.com/105443633/196192412-ca2b9abf-8049-4920-8582-d19e17f244fe.png)
![image](https://user-images.githubusercontent.com/105443633/196192940-eb7dec94-2dc2-41a6-9450-ecd605d0132a

[2022-10-17 13:54] sergio-teruel commented on #238
Ohh!! good approach!!
The module runs well thinking in outgoing pickings.

Why don't you develop this part?

[2022-10-18 07:06] bi-landoo commented on #238
Good morning @sergio-teruel , I am not asking for an extra feature that could be developped in that module.

I have detected a bad behaviour that is not compatible with ODOO standard, when installing the module "stock_picking_report_valued" and I think it should be fixed.

@pedrobaeza @flagreenice @ao-landoo

[2022-10-18 08:16] pedrobaeza commented on #238
Sorry, we are not working on this question for now.

[2022-10-18 13:17] bi-landoo commented on #238
I understand, but at least we should notify on "README" of the module, that
it is affecting/breaking stock.picking report (when type is incoming)

*Borja Iribarren*
Consultor Funcional: Logística & Fabricación
***@***.***

LANDOO - Sistemas de Información con Odoo

*www.landoo.es <http://www.landoo.es/>*
Tel.: +34 943 568 663
Zubiberri bidea 31, pl. 2, ofic. 3
Parque Empresarial Zuatzu, Edif. Urum

[2022-10-18 13:49] pedrobaeza commented on #238
Yeah, I agree. Please do the PR. You can even do it from the GitHub interface without the need of a technician. Just touch the file https://github.com/OCA/stock-logistics-reporting/blob/14.0/stock_picking_report_valued/readme/ROADMAP.rst

[2022-10-18 14:17] bi-landoo commented on #238
Okay, thanks!

Done.

*Borja Iribarren*
Consultor Funcional: Logística & Fabricación
***@***.***

LANDOO - Sistemas de Información con Odoo

*www.landoo.es <http://www.landoo.es/>*
Tel.: +34 943 568 663
Zubiberri bidea 31, pl. 2, ofic. 3
Parque Empresarial Zuatzu, Edif. Urumea
20018 Donostia, Gipuzkoa, Spain

El mar, 18 oct 2022 a las 15:49, Pedro M. Baeza ***@***.***>)
escribió:

--
LANDOO SL - w

[2022-10-19 07:59] #238 closed, assigned to nobody

[2022-11-06 12:27] #188 closed, assigned to nobody

[2022-11-20 12:25] #190 closed, assigned to nobody